In [2]:
import pandas
import numpy
import os.path

In [3]:
nasdaq = pandas.read_csv(os.path.join('third_party', 'nasdaq', 'nasdaq.csv'))

In [4]:
def mc_to_float(cap):
  #if not cap:
  # return numpy.nan
  #if not cap.startswith('$'):
  #  return numpy.nan
  cap = cap[1:]
  multiplier = 1.0
  if cap.endswith('K'):
    multiplier = 1000.0
  elif cap.endswith('M'):
    multiplier = 1.0e6
  elif cap.endswith('B'):
    multiplier = 1.0e9
  elif cap.endswith('T'):
    multiplier =1.0e12

  return float(cap[:-1]) * multiplier

In [6]:
nasdaq = nasdaq[nasdaq.MarketCap.notna()]
nasdaq = nasdaq.assign(MarketCap=nasdaq.MarketCap.apply(mc_to_float))

In [7]:
nyse = pandas.read_csv(os.path.join('third_party', 'nasdaq', 'nyse.csv'))
nyse = nyse[nyse.MarketCap.notna()]
nyse = nyse.assign(MarketCap=nyse.MarketCap.apply(mc_to_float))

In [9]:
amex = pandas.read_csv(os.path.join('third_party', 'nasdaq', 'amex.csv'))
amex = amex[amex.MarketCap.notna()]
amex = amex.assign(MarketCap=amex.MarketCap.apply(mc_to_float))

In [10]:
nasdaq = nasdaq.assign(Market='nasdaq')
nyse = nyse.assign(Market='nyse')
amex = amex.assign(Market='amex')

In [11]:
stocks = pandas.concat([nasdaq, nyse, amex])
stocks.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8,Market
0,PIH,"1347 Property Insurance Holdings, Inc.",7.2000,4.309000e+07,2014.0,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pih,NaN,nasdaq
2,TURN,180 Degree Capital Corp.,2.2899,7.127000e+07,NaN,Finance,Finance/Investors Services,https://www.nasdaq.com/symbol/turn,NaN,nasdaq
3,FLWS,"1-800 FLOWERS.COM, Inc.",14.3750,9.286800e+08,1999.0,Consumer Services,Other Specialty Stores,https://www.nasdaq.com/symbol/flws,NaN,nasdaq
4,FCCY,1st Constitution Bancorp (NJ),22.1500,1.856000e+08,NaN,Finance,Savings Institutions,https://www.nasdaq.com/symbol/fccy,NaN,nasdaq
5,SRCE,1st Source Corporation,56.1700,1.460000e+09,NaN,Finance,Major Banks,https://www.nasdaq.com/symbol/srce,NaN,nasdaq

In [12]:
stocks.sample(weights=stocks.MarketCap)

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8,Market
623,CTL,"CenturyLink, Inc.",18.83,2.031000e+10,NaN,Public Utilities,Telecommunications Equipment,https://www.nasdaq.com/symbol/ctl,NaN,nyse